* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 20px;
}

.div1 {
    grid-column: 1;
    grid-row: 1;
    background-image: url('2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.div2 {
    grid-column: 2;
    grid-row: 1;
    background-image: url('3.png');
    background-repeat: no-repeat;
    background-size: cover;
box-shadow: 0 0 0 2000px rgba(255, 0, 0, 0.495) inset;
}

.div3 {
    grid-column: 3;
    grid-row: 1;
    background-image: url('4.png');
    background-repeat: no-repeat;
     background-size: cover;
    box-shadow: 0 0 0 2000px rgba(255, 0, 0, 0.495) inset;
}

.div4 {
    grid-column: 1;
    grid-row: span 3;
    background-image: url('5.png');
    background-repeat: no-repeat;
    background-size: cover; 
    box-shadow: 0 0 0 2000px rgba(255, 0, 0, 0.495) inset;
}

.div5 {
    grid-column: 2;
    grid-row: 3;
    background-image: url('6.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.div6 {
    grid-column: 3;
    grid-row: 3;
    background-image: url('1.png');
    background-repeat: no-repeat;
 background-size: cover;
    box-shadow: 0 0 0 2000px rgba(255, 0, 0, 0.495) inset;
 }

#card-list{
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 30px;
}
.sidebar{
    padding: 10px;

}

@media (max-width:768px) {
    body{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .main{
        display: flex;
        flex-direction: column;

    } 
    .main div{
        width: 100%;
        height: 150px;
    }
}

/* @media (max-width:700px) {
    .main{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    } 
} */