* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.div1 {
    grid-column: 1;
    grid-row: 1;
    background-image: url('2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.div2 {
    grid-column: 2;
    grid-row: 1;
    background-image: url('3.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.div3 {
    grid-column: 3;
    grid-row: 1;
    background-image: url('4.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.div4 {
    grid-column: 1;
    grid-row: span 3;
    background-image: url('5.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.div5 {
    grid-column: 2;
    grid-row: 3;
    background-image: url('6.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.div6 {
    grid-column: 3;
    grid-row: 3;
    background-image: url('1.png');
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width:900px) {
    .main{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    } 
}
@media (max-width:700px) {
    .main{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    } 
}